# Salin file ini menjadi .env lalu isi nilainya
PORT=3000
NODE_ENV=development

PG_HOST=localhost
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=rahasia-kuis-sd
PG_DATABASE=pendidikan_ptkom
PG_DATA_DIR=.pgdata
PG_VERBOSE=false

JWT_SECRET=isi-dengan-string-acak-minimal-32-karakter
JWT_EXPIRES_IN=1d

SESSION_SECRET=isi-dengan-string-acak-lain
